@font-face {
  font-family: RobotoCondensed;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto/RobotoCondensed-Regular.ttf) format(truetype);
}

body {
  /*background: url('../images/bg.jpg');
  background-size: 100%;*/
  /*background: #246e99;*/
  background: #93cede; /* Old browsers */
  font-size: 100%;
  border: 0;
  height: 100%;
  color: #000;
  font: 14px RobotoCondensed,Helvetica,sans-serif!important;
  line-height: 24px;
  letter-spacing: 1px;
}

body, html {
  height: 100%;
}

p {
  margin: 0;
}

.margin-right-20 {
  margin-right: 20px;
}

.font-white {
  color: #fff !important;
}

.details {
  background: #ff0000;
}

.box-container {
  width: 66%;
  height: auto;
  float: left;
  padding: 25px 40px 25px 25px;
  margin: 100px 17% 0 17%;
  background: #d8ebf5;
  /* border: 1px solid #fff; */
}

/*.btn-time {
  width: 125px !important;
}*/

.route-header, .main-header {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 20px;
  border-bottom: 1px dashed #333;
  padding: 0 0 15px 0;
}

  .route-header span, .main-header span {
    font-size: 2.5em;
  }

  .main-header span {
    color: #333;
    /*border: 0 solid rgba(0,0,0,1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
    transform-origin: 50% 50% 0;*/
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6), -1px -1px 1px rgba(0,0,0,0.67);
  }

.font-up-down {
  font-size: 1.5em;
  color: rgba(48,48,48,1);
  border: 0 solid rgba(0,0,0,1);
  transform: scaleX(1) scaleY(1) scaleZ(1);
  transform-origin: 50% 50% 0;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.page-top {
  margin: 50px 0 0 0;
}

.margin-bottom {
  margin-bottom: 10px;
}

.page-bottom {
  padding-bottom: 20px;
}

.app-header {
  width: 100%;
  height: 100px;
  padding: 10px 20px 20px 20px;
  font-size: 3em;
  z-index: 1;
  color: #f48024;
  text-align: left;
  background: #fff;
  /*background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
  background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
  background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );*/
  position: fixed;
}

  .app-header p {
    color: #666;
    font-size: 0.3em;
  }

.font-light-big {
  color: #efe7a1;
  font-size: 1.3em;
  margin: -8px 5px;
  width: auto;
  height: auto;
  float: left;
}

.page-header-container {
  width: 100%;
  height: auto;
  float: left;
  color: #736165;
  margin: 10px 0;
  font-size: 1.4em;
}

.page-sub-header-container {
  width: 100%;
  height: auto;
  float: left;
  color: #736165;
  margin: 10px 0;
  padding: 0 0 10px 0;
  font-size: 1.2em;
}

.page-header-contents {
  width: 100%;
  height: auto;
  float: left;
}

.column-bg {
  background: #f7f7f7;
}

.cursor-pointer {
  cursor: pointer;
}

.text-align-right {
  text-align: right;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.border-right {
  border-right: 1px dashed #988a8e;
}

.border-top {
  border-top: 1px dashed #988a8e;
}

.padding-reset {
  padding: 0;
}

.padding-right-reset {
  padding-right: 0;
}

.padding-left-reset {
  padding-left: 0;
}

.btn-danger {
  color: #fff!important;
}

/*.routes-link {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  padding: 20px;
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  background: #7d7e7d;
  
}

  .routes-link:hover {
    text-decoration: none;
    color: #fff;
  }*/

/*.btn-success:hover {
  background: #333;
  color: #f5c24c;
  border-color: #e1e1e1;
}*/

.info {
  width: auto;
  height: auto;
  padding-left: 85px;
}

.overlay {
  float: left;
  opacity: 0.2;
}

/*.form-control, textarea, select, .btn-primary, .btn-default {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background, height, margin, padding;
  -moz-transition-property: background, height, margin, padding;
  -o-transition-property: background, height, margin, padding;
  transition-property: background, height, margin, padding;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #e1e1e1;
  display: block;
  font: 800 24px/24px "RobotoCondensed", Helvetica, Arial, sans-serif;
  height: 76px;
  margin-bottom: 20px;
  padding: 18px 28px;
  letter-spacing: 1px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-weight: 400;
  float: left;
}

.time-type .btn-default {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background, height, margin, padding;
  -moz-transition-property: background, height, margin, padding;
  -o-transition-property: background, height, margin, padding;
  transition-property: background, height, margin, padding;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #e1e1e1;
  display: block;
  font: 800 24px/24px "RobotoCondensed", Helvetica, Arial, sans-serif;
  height: 75px;
  margin-bottom: 20px;
  padding: 22px 28px;
  letter-spacing: 1px;
  width: 50%;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-weight: 400;
  float: left;
  font-size: 1.5em;
}

.btn-primary, .btn-default, .btn-danger {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background, height, margin, padding;
  -moz-transition-property: background, height, margin, padding;
  -o-transition-property: background, height, margin, padding;
  transition-property: background, height, margin, padding;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #e1e1e1;
  display: block;
  font: 800 24px/24px "RobotoCondensed", Helvetica, Arial, sans-serif;
  height: 75px;
  margin-bottom: 20px;
  padding: 22px 28px;
  letter-spacing: 1px;
  width: 49%;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-weight: 400;
  float: left;
  font-size: 2.5em;
}

.btn-success {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background, height, margin, padding;
  -moz-transition-property: background, height, margin, padding;
  -o-transition-property: background, height, margin, padding;
  transition-property: background, height, margin, padding;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #f5c24c;
  display: block;
  font: 800 19px/24px "RobotoCondensed", Helvetica, Arial, sans-serif;
  height: 80px;
  margin-bottom: 20px;
  padding: 25px 28px;
  letter-spacing: 1px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-weight: 400;
  float: left;
  font-size: 3em;
  background: #f5c24c;
}*/

.gadget {
  margin-top: 1%;
}

.gadget-container {
  width: 100%;
  height: auto;
  float: left;
  border: 1px solid #82b8c3;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #ffffff;
}

.gadget-left {
  width: 50%;
  height: auto;
  float: left;
}

.gadget-right {
  width: 50%;
  height: auto;
  float: right;
  text-align: right;
}

.gadget-content {
  width: auto;
  height: auto;
  float: left;
}

.location-text {
  font-size: 0.8em !important;
}

.gadget-col1 span {
  display: block;
  font-size: 2em;
}

.gadget-col2 span {
  display: block;
  font-size: 1.5em;
}

.gadget-passengers span {
  display: block;
  font-size: 1.3em;
}

.section-info {
  width: auto;
  height: auto;
  font-size: 2.5em;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #333;
}

.gadget-passengers {
  width: 185px;
  height: 88px;
  float: left;
  display: inline-block;
  text-transform: capitalize;
  color: #333;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  padding: 13px 10px 14px 10px;
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.gadget-col1 {
  width: 115px;
  height: auto;
  float: left;
  display: inline-block;
  padding: 15px 10px 16px 10px;
  text-transform: capitalize;
  color: #fff;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.gadget-col2 {
  width: 140px;
  height: auto;
  float: left;
  display: inline-block;
  padding: 15px 10px 16px 10px;
  text-transform: capitalize;
  color: #333;
}

.gadget-content li:nth-child(1) {
  border-left: none;
}

.gadget-content li {
  display: inline-block;
  padding: 15px 20px;
  background: #ffffff;
  color: #555555;
  text-transform: capitalize;
}

  .gadget-content li span {
    display: block;
    font-size: 2em;
  }

.gadget-header {
  background: #7abcff; /* Old browsers */
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
  background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 4%;
  color: #fff;
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-header .btn {
  font-size: 0.75em;
}

.app-header .btn-danger {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background, height, margin, padding;
  -moz-transition-property: background, height, margin, padding;
  -o-transition-property: background, height, margin, padding;
  transition-property: background, height, margin, padding;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #333;
  font: 800 24px/24px "RobotoCondensed", Helvetica, Arial, sans-serif;
  height: auto;
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: 1px;
  width: 160px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-weight: 400;
  float: left;
  margin-top: 15px;
}

.delete-container {
  width: 50px;
  height: auto;
  float: left;
  display: inline-block;
  padding: 17px 15px 18px 15px;
  text-transform: capitalize;
  color: #fff;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.delete-row {
  color: #d9534f;
  margin: -18px -16px 0 0;
  float: right;
}

.settings {
  position: absolute;
  right: 30px;
  top: 35px;
}

  .settings i {
    color: #333!important;
    font-size: 3em;
  }

.font-black {
  color: #333;
}

.dispatch-settings {
  width: 200px;
  height: auto;
  float: right;
  background: #333;
  position: absolute;
  padding: 0 15px 15px 15px;
  z-index: 1;
  border-radius: 5px;
  right: -40px;
  margin-top: 100px;
  color: #fff;
}

.admin-settings {
  width: 200px;
  height: auto;
  float: right;
  background: #333;
  position: absolute;
  padding: 0 15px 15px 15px;
  z-index: 1;
  border-radius: 5px;
  right: 0;
  margin-top: -10px;
  color: #fff;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333;
  position: absolute;
  margin-top: -10px;
  right: 33px;
}

.margin-top-car {
  margin: 25px 10px 0 0;
}

.main-footer {
  width: 100%;
  height: auto;
  float: left;
  color: #333;
  font-size: 2em;
  text-align: center;
}

.routes {
  width: 66%;
  height: 80px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}

  .routes a {
    color: #fff;
  }

.free-width {
  width: 100%;
}

.form-control, .btn {
  height: 45px;
}

.dispatch-settings .form-control {
  height: 30px;
}

.dispatch-settings .btn {
  height: 30px;
  width: 100%;
}

.dispatch {
  width: 90px;
  height: auto;
  float: right;
  font-size: 0.9em;
  margin-top: 55px;
  color: #fff;
  background: #82b8c3;
  padding: 5px 10px;
  border-radius: 25px;
  position: absolute;
  right: -30px;
  text-align: center;
}

.print {
  width: 90px;
  height: auto;
  float: right;
  font-size: 0.9em;
  margin-top: 15px;
  color: #fff;
  background: #333;
  padding: 5px 10px;
  border-radius: 25px;
  position: absolute;
  right: -30px;
  text-align: center;
}

.print-all {
  width: auto;
  height: auto;
  font-size: 1em;
  position: absolute;
  right: 95px;
  top: 45px;
}

.back {
  width: auto;
  height: auto;
  font-size: 1em;
  position: absolute;
  right: 30px;
  top: 45px;
}

.closed {
  opacity: 1;
}

  .closed .gadget-col1 {
    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(top, #feccb1 0%, #fb955e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feccb1 0%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feccb1 0%,#fb955e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feccb1 0%,#fb955e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #feccb1 0%,#fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
  }

  .closed .gadget-passengers {
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top, #fceabb 0%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fceabb 0%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fceabb 0%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fceabb 0%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fceabb 0%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
  }

.page-header-dispatch-contents .gadget-container {
  width: 100%;
  height: auto;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.closed .print {
  width: 75px;
  height: auto;
  float: right;
  font-size: 1em;
  margin-top: 15px;
  color: #fff;
  background: #333;
  padding: 5px 10px;
  border-radius: 25px;
  position: absolute;
  right: -30px;
  text-align: center;
  margin-top: 55px;
}

.page-header-dispatch-contents {
  width: 100%;
  height: auto;
  float: left;
  /*border-top: 1px dashed #333;*/
  padding-top: 30px;
  margin-top: 20px;
}

.margin-left-5 {
  margin-left:5px;
}