<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>emids Taxi</title>
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animation.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">

  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/custom.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="js/ngAutocomplete.js"></script>
  <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

</head>

<body data-spy="scroll" data-target="#navbar" data-offset="0" ng-app="app" ng-controller="Controller">

  <div class="app-header">
    <div class="pull-left text-align-center">
      <img src="images/car.png" width="80px" class="pull-left margin-top-car" />
      emids Taxi
    <p class="info">OUR DRIVE 'n' YOUR SAFETY</p>
    </div>

    <button ng-click="deleteAll()" class="btn btn-danger pull-right" ng-show="isDetails">CLEAR ME</button>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="col-lg-12 details box-container animation bounce margin-bottom" ng-show="isDetails">

          <!--<span class="pull-right cursor-pointer icon-close" ng-click="hideDetails()"><i class="fa fa-arrow-circle-o-left"></i></span>-->

          <button class="btn btn-success pull-right print-all" ng-click="printAll()">PRINT DISPATCHED CABS</button>
          <button ng-click="hideDetails()" class="btn btn-danger pull-right back">BACK</button>
          <div class="main-header">
            <span class="col-lg-12 padding-reset">Cab's in Queue ...</span>
            
            <p class="col-lg-12 padding-reset">Come, let us drive you safe home.</p>
          </div>
          <div class="col-lg-12 padding-reset page-bottom">
            <div class="page-header-contents">
              <div class="gadget-container" ng-class="(result.data[0].Status === 'Close') ? 'closed' : 'active'" ng-repeat="result in collection">

                <div class="gadget-col1">
                  <img src="images/car.png" width="90px" class="pull-left" />
                  <p class="text-center pull-left margin-top">Time:{{result.data[0].StartTime | date:'shortTime'}}</p>
                </div>
                <div class="gadget-passengers" ng-repeat="a in result.data">
                  <span class="pull-right cursor-pointer" ng-click="deletePassenger(a)" ng-show="(result.data[0].Status !== 'Close')"><i class="fa fa-times-circle delete-row"></i></span>
                  <span class="ellipsis"><i class="fa fa-user margin-right"></i>{{a.PassengerName}}</span>
                  <span class="ellipsis location-text">{{a.EmployeeNumber}}</span>
                  <span class="ellipsis location-text">{{a.Project}} - {{a.Phone}}</span>
                  <span class="ellipsis location-text">{{a.Location}}</span>
                </div>

                <div class="print cursor-pointer">
                  <span ng-click="printRow(result)">Print<i class="fa fa-print margin-left-5"></i></span>
                </div>
                <div class="dispatch cursor-pointer" ng-show="(result.data[0].Status !== 'Close')">
                  <span ng-click="isDispatch = (isDispatch == true) ? false : true">Dispatch<i class="fa fa-long-arrow-right margin-left-5"></i></span>
                </div>
                <div class="col-md-12 padding-reset dispatch-settings" ng-show="isDispatch">
                  <div class="arrow-up"></div>
                  <div class="col-md-12 margin-top padding-reset">
                    <input ng-model="result.travelsName" placeholder="travels name" class="form-control margin-top">
                  </div>
                  <div class="col-md-12 margin-top padding-reset">
                    <input ng-model="result.escortName" placeholder="escort name" class="form-control margin-top">
                  </div>
                  <div class="col-md-12 margin-top padding-reset">
                    <input ng-model="result.cabNumber" placeholder="cab number" class="form-control margin-top">
                  </div>
                  <div class="col-md-12 margin-top padding-reset">
                    <input ng-model="result.cabType" placeholder="cab type" class="form-control margin-top">
                  </div>
                  <div class="col-md-12 margin-top padding-reset">
                    <a class="btn btn-primary" ng-click="saveDispatchData(result)">Ok</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header-dispatch-contents">
              <div class="main-header">
                <span class="pull-left">Dispatched Cab's ...</span>
              </div>
              <div class="gadget-container closed" ng-repeat="result in dispatchPassengerData">
                <div class="gadget-col1">
                  <img src="images/car.png" width="90px" class="pull-left" />
                  <p class="text-center pull-left margin-top">Time:{{result.Passengers[0].StartTime | date:'shortTime'}}</p>
                </div>
                <div class="gadget-passengers" ng-repeat="a in result.Passengers">
                  <span class="ellipsis"><i class="fa fa-user margin-right"></i>{{a.PassengerName}}</span>
                  <span class="ellipsis location-text">{{a.EmployeeNumber}}</span>
                  <span class="ellipsis location-text">{{a.Project}} - {{a.Phone}}</span>
                  <span class="ellipsis location-text">{{a.Location}}</span>
                </div>
                <div class="print cursor-pointer">
                  <span ng-click="printDispatchRow(result)">Print<i class="fa fa-print margin-left-5"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 main box-container" ng-show="!isDetails">
          <div class="main-header">

            <span class="col-lg-12 padding-reset">Book a cab in less than 30 seconds!</span>
            <p class="col-lg-12 padding-reset">Fill in the details and proceed.</p>

            <a class="pull-right settings" ng-click="isSetting = (isSetting == true)? false : true "><i class="fa fa-cog cursor-pointer"></i></a>

            <div class="col-md-12 padding-reset admin-settings" ng-show="isSetting">
              <div class="arrow-up"></div>
              <div class="col-md-12 margin-top padding-reset">
                Cab Capacity
                <br />
                <input ng-model="noOfPersons" class="form-control margin-top">
              </div>
              <div class="col-md-12 margin-top padding-reset">
                Range in Km(s)
                <br />
                <input ng-model="noOfKM" class="form-control margin-top">
              </div>
            </div>
          </div>

          <div class="page-header-container">
            <div class="col-md-12">
              <input type="text" ng-model="user.passengerName" typeahead="state.PassengerName for state in allPassenger | filter:$viewValue | limitTo:8"
                typeahead-on-select="selectedPassenger($item)" ng-blur="checkPassenger()"
                class="form-control" placeholder="enter employee full name ...">
            </div>
          </div>
          <div class="page-header-container">
            <div class="col-md-12">
              <input type="text" class="form-control" ng-model="user.employeeNumber" placeholder="enter employee number ..." />
            </div>
          </div>
          <div class="page-header-container">
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.project" placeholder="enter project ..." />
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.phone" placeholder="enter phone ..." />
            </div>
          </div>
          <div class="page-header-container">
            <div class="col-md-12">
              <input type="text" class="form-control" ng-model="location" ng-autocomplete="fromAddresResult" details="fromAddresDetails" options="options" placeholder="start typing your location ..." />
            </div>
          </div>
          <div class="page-header-container">
            <div class="col-md-12">
              <timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
          </div>
        </div>
        <div class="main-footer" ng-show="!isDetails">
          <div class="routes">
            <button class="btn btn-info btn-lg pull-left margin-right" ng-click="showDetails()">View Routes</button>
            <!--<button class="btn btn-default btn-lg pull-left" ng-click="showReport()">View Report</button>-->
            <button class="btn btn-info btn-lg pull-right" ng-click="save()">Save Details</button>
            <button class="btn btn-default btn-lg pull-right margin-right" ng-click="clear()">Clear Details</button>


          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
